*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    background: #F5F5F5;
    padding:20px;
    border-radius: 4px;
    outline: 1px solid #666666;
}
.profile{
    display: flex;
    justify-content: center;
}
.profile img{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 1px solid #666666;
}
.details{
    margin-top: 20px;
}
.details > div{
    padding:10px;
}
.details label{
    color: #666;
}
.details .names{
    display: flex;
}
.details .names > div:first-child{
    min-width: 50%;
}
.btn{
    text-align: center;
    margin-top: 20px;
}
.btn button{
    padding:10px 20px;
    cursor: pointer;
}



.spinner-wrapper{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #474bff;
    animation: spinner-d3wgkg 1s infinite linear;
}
 
@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}